# dataset
./datasets/
data/
**/pretrain/
!data/.README.md

# __pycache__
**/__pycache__
# example
example/


# outputs
outputs/
logs/
save/
# **/*.pth

# checkpoints
.ipynb_checkpoints/
checkpoints/*.pth

# test
run.md
test.py

# pdf
*.pdf
*.bin
*.pth
