# for ViT
timm
# for ViLBERT
tqdm==4.31.1
pandas
numpy
lmdb==0.94
jsonlines==1.2.0
json-lines==0.5.0
easydict==1.9
PyYAML==5.1.2
matplotlib
pytorch-pretrained-bert==0.6.2
tensorpack==0.9.4
tensorboardX==1.2
# tensorflow==1.13.1
tensorflow==2.2.0
protobuf==3.19.0 --no-binary=protobuf